{
  "openapi": "3.1.0",
  "info": {
    "title": "اسراء — api-high (نقش‌ها، مجوزها، تنظیمات سراسری، audit)",
    "version": "1.5.0",
    "summary": "قرارداد api-high — نسخهٔ مسیر v1",
    "description": "قرارداد REST سرویس **api-high** (پیشوند `/s/v1`). تولیدشده از schemaهای zod در `@isra/api-types`؛ **دستی ویرایش نکنید**.\n\n- قالب پاسخ: `{ success, data, meta.requestId }`؛ خطا: `{ success:false, error:{code,message,details}, meta }`. `message` فارسی، `code` پایدار.\n- زمان‌ها ISO-8601 با offset؛ منطق کسب‌وکار `Asia/Tehran`؛ هفته شنبه–جمعه.\n- امنیت: JWT RS256 (TTL access/refresh از پیکربندی سرور؛ پیش‌فرض ۱۵ دقیقه / ۱۴ روز)، refresh با rotation؛ اقدام حساس ⇒ `X-Step-Up-Token`.\n- محدودیت‌ها: بدنهٔ JSON حداکثر ۱۶KB؛ `pageSize` ≤ سقف هر endpoint؛ بدنه‌های `strict` (فیلد ناشناخته ⇒ `VALIDATION_FAILED`).\n- نسخه‌بندی: تغییر ناسازگار فقط با نسخهٔ جدید مسیر (`v2`)؛ سیاست deprecation: هدرهای `Deprecation` و `Sunset` (حداقل ۱۸۰ روز).",
    "license": {
      "name": "Proprietary",
      "identifier": "LicenseRef-Isra-Proprietary"
    },
    "x-isra-api-version": "v1",
    "x-isra-max-body-bytes": 16384
  },
  "servers": [
    {
      "url": "https://sapi.israapp.ir",
      "description": "تولید"
    },
    {
      "url": "http://localhost:3003",
      "description": "توسعهٔ محلی (بدون Docker)"
    }
  ],
  "tags": [
    {
      "name": "تنظیمات سراسری"
    },
    {
      "name": "جلسه‌ها"
    },
    {
      "name": "حساب من"
    },
    {
      "name": "زیرساخت"
    },
    {
      "name": "نقش‌ها و مجوزها"
    },
    {
      "name": "نقش‌ها، ماژول‌ها و سطح دسترسی"
    },
    {
      "name": "هویت سیستمی"
    },
    {
      "name": "کاربران"
    },
    {
      "name": "گزارش‌ها (audit)"
    },
    {
      "name": "گزارش‌های تحلیلی"
    }
  ],
  "paths": {
    "/s/health/live": {
      "get": {
        "operationId": "H_OPS_01",
        "summary": "liveness: پروسه زنده است",
        "tags": [
          "زیرساخت"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "H-OPS-01",
        "x-isra-since": "1.0.0",
        "x-isra-slo-p95-ms": 20,
        "x-isra-internal": true
      }
    },
    "/s/health/ready": {
      "get": {
        "operationId": "H_OPS_02",
        "summary": "readiness: DB و وابستگی‌ها آماده‌اند (برای ترافیک)",
        "tags": [
          "زیرساخت"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "H-OPS-02",
        "x-isra-since": "1.0.0",
        "x-isra-slo-p95-ms": 50,
        "x-isra-internal": true
      }
    },
    "/s/v1/system/audit": {
      "get": {
        "operationId": "H_40",
        "summary": "گزارش اقدام‌ها (audit؛ فقط‌خواندنی)",
        "tags": [
          "گزارش‌ها (audit)"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "default": 20,
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "schema": {
              "description": "نوع دقیق اقدام یا پیشوند (مثلاً `user.`)",
              "type": "string",
              "maxLength": 64
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 60
            }
          },
          {
            "name": "actorId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$",
              "description": "شناسهٔ موجودیت (در تولید UUID)",
              "example": "6f3c2a10-0000-4000-8000-000000000001"
            }
          },
          {
            "name": "targetType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "user",
                "role",
                "settings",
                "session"
              ]
            }
          },
          {
            "name": "targetId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$",
              "description": "شناسهٔ موجودیت (در تولید UUID)",
              "example": "6f3c2a10-0000-4000-8000-000000000001"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "example": "2026-10-05"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "example": "2026-10-05"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AuditEntry"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "RATE_LIMITED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "RATE_LIMITED",
                        "message": "تعداد درخواست‌ها زیاد است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "H-40",
        "x-isra-since": "1.0.0",
        "x-isra-slo-p95-ms": 200,
        "x-isra-permission": "system.audit.view",
        "x-isra-rate-limit": [
          "60 درخواست / 60ث per user"
        ]
      }
    },
    "/s/v1/system/me": {
      "get": {
        "operationId": "H_00",
        "summary": "هویت سیستمی من (نقش‌ها و مجوزها)",
        "tags": [
          "هویت سیستمی"
        ],
        "description": "کاربر بدون نقش سیستم ⇒ AUTH_FORBIDDEN؛ UI «دسترسی ندارید» نشان می‌دهد.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/SystemMe"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "H-00",
        "x-isra-since": "1.0.0",
        "x-isra-slo-p95-ms": 60
      }
    },
    "/s/v1/system/me/access": {
      "get": {
        "operationId": "H_94",
        "summary": "دسترسی مؤثر من (مجوز، منبع و نیاز به step-up)",
        "tags": [
          "نقش‌ها، ماژول‌ها و سطح دسترسی"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/EffectiveAccess"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "H-94",
        "x-isra-since": "1.5.0",
        "x-isra-slo-p95-ms": 60
      }
    },
    "/s/v1/system/me/account": {
      "get": {
        "operationId": "H_02",
        "summary": "حساب من (نام، شماره، وضعیت رمز)",
        "tags": [
          "حساب من"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/MyAccount"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "H-02",
        "x-isra-since": "1.4.0",
        "x-isra-slo-p95-ms": 120
      }
    },
    "/s/v1/system/me/password": {
      "put": {
        "operationId": "H_04",
        "summary": "تعیین/تغییر رمز عبور خودم",
        "tags": [
          "حساب من"
        ],
        "description": "نیازمند step-up؛ استثنا: وقتی `MyAccount.mustChangePassword` است `currentPassword` (رمز موقت) به‌جای step-up پذیرفته می‌شود. این تنها مسیر high است که با پرچم رمز موقت (claim `mcp`) مجاز است. پس از موفقیت سایر نشست‌ها revoke می‌شوند.",
        "parameters": [
          {
            "name": "X-Step-Up-Token",
            "in": "header",
            "required": true,
            "description": "توکن step-up (۵ دقیقه) از L-07",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetMyPasswordBody"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "stepUp": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": false
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_INVALID_CREDENTIALS | AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_INVALID_CREDENTIALS": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_INVALID_CREDENTIALS",
                        "message": "شماره یا رمز عبور درست نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  },
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN | AUTH_STEP_UP_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  },
                  "AUTH_STEP_UP_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_STEP_UP_REQUIRED",
                        "message": "برای این کار باید هویت خود را دوباره تأیید کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "PAYLOAD_TOO_LARGE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "PAYLOAD_TOO_LARGE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "PAYLOAD_TOO_LARGE",
                        "message": "حجم درخواست بیش از حد مجاز است."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "RATE_LIMITED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "RATE_LIMITED",
                        "message": "تعداد درخواست‌ها زیاد است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "H-04",
        "x-isra-since": "1.4.0",
        "x-isra-slo-p95-ms": 400,
        "x-isra-step-up": true,
        "x-isra-rate-limit": [
          "5 درخواست / 900ث per user"
        ],
        "x-isra-idempotency": "natural"
      }
    },
    "/s/v1/system/me/profile": {
      "patch": {
        "operationId": "H_03",
        "summary": "ویرایش نام و نام‌خانوادگی خودم",
        "tags": [
          "حساب من"
        ],
        "description": "ویرایش در low انجام می‌شود (مالک حساب) و رویداد `user.profile.updated` به mid/high می‌رسد. تغییر شمارهٔ موبایل خودخدمتی نیست؛ مدیر با H-25 انجام می‌دهد.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMyProfileBody"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/MyAccount"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "PAYLOAD_TOO_LARGE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "PAYLOAD_TOO_LARGE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "PAYLOAD_TOO_LARGE",
                        "message": "حجم درخواست بیش از حد مجاز است."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "RATE_LIMITED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "RATE_LIMITED",
                        "message": "تعداد درخواست‌ها زیاد است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "H-03",
        "x-isra-since": "1.4.0",
        "x-isra-slo-p95-ms": 200,
        "x-isra-rate-limit": [
          "30 درخواست / 60ث per user"
        ],
        "x-isra-idempotency": "natural"
      }
    },
    "/s/v1/system/me/sessions": {
      "get": {
        "operationId": "H_05",
        "summary": "نشست‌ها و دستگاه‌های من",
        "tags": [
          "حساب من"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "default": 20,
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserDeviceSession"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "H-05",
        "x-isra-since": "1.4.0",
        "x-isra-slo-p95-ms": 150
      }
    },
    "/s/v1/system/me/sessions/revoke-others": {
      "post": {
        "operationId": "H_07",
        "summary": "خروج از همهٔ نشست‌های دیگرِ خودم",
        "tags": [
          "حساب من"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": false
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "RATE_LIMITED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "RATE_LIMITED",
                        "message": "تعداد درخواست‌ها زیاد است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "H-07",
        "x-isra-since": "1.4.0",
        "x-isra-slo-p95-ms": 250,
        "x-isra-rate-limit": [
          "30 درخواست / 60ث per user"
        ],
        "x-isra-idempotency": "natural"
      }
    },
    "/s/v1/system/me/sessions/{id}": {
      "delete": {
        "operationId": "H_06",
        "summary": "revoke یک نشست خودم",
        "tags": [
          "حساب من"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$",
              "description": "شناسهٔ موجودیت (در تولید UUID)",
              "example": "6f3c2a10-0000-4000-8000-000000000001"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": false
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "NOT_FOUND": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "پیدا نشد."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "RATE_LIMITED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "RATE_LIMITED",
                        "message": "تعداد درخواست‌ها زیاد است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "H-06",
        "x-isra-since": "1.4.0",
        "x-isra-slo-p95-ms": 200,
        "x-isra-rate-limit": [
          "30 درخواست / 60ث per user"
        ],
        "x-isra-idempotency": "natural"
      }
    },
    "/s/v1/system/modules": {
      "get": {
        "operationId": "H_88",
        "summary": "فهرست ماژول‌ها",
        "tags": [
          "نقش‌ها، ماژول‌ها و سطح دسترسی"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "default": 20,
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "private, max-age=60",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "برای If-None-Match ⇒ 304",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ModuleInfo"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "304": {
            "description": "تغییری نکرده (If-None-Match)"
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "H-88",
        "x-isra-since": "1.5.0",
        "x-isra-slo-p95-ms": 60
      },
      "post": {
        "operationId": "H_89",
        "summary": "ساخت ماژول",
        "tags": [
          "نقش‌ها، ماژول‌ها و سطح دسترسی"
        ],
        "description": "کلید یکتا ⇒ CONFLICT(KEY_TAKEN).",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "کلید تکرار امن (UUID)؛ همان کلید ⇒ همان نتیجه، بدون اثر مضاعف (۲۴ ساعت).",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 64
            }
          },
          {
            "name": "X-Step-Up-Token",
            "in": "header",
            "required": true,
            "description": "توکن step-up (۵ دقیقه) از L-07",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateModuleBody"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "stepUp": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/ModuleInfo"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN | AUTH_STEP_UP_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  },
                  "AUTH_STEP_UP_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_STEP_UP_REQUIRED",
                        "message": "برای این کار باید هویت خود را دوباره تأیید کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "CONFLICT": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "CONFLICT",
                        "message": "درخواست با وضعیت فعلی منابع سازگار نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "PAYLOAD_TOO_LARGE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "PAYLOAD_TOO_LARGE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "PAYLOAD_TOO_LARGE",
                        "message": "حجم درخواست بیش از حد مجاز است."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "RATE_LIMITED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "RATE_LIMITED",
                        "message": "تعداد درخواست‌ها زیاد است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "H-89",
        "x-isra-since": "1.5.0",
        "x-isra-slo-p95-ms": 200,
        "x-isra-permission": "system.permission.manage",
        "x-isra-step-up": true,
        "x-isra-rate-limit": [
          "30 درخواست / 60ث per user"
        ],
        "x-isra-idempotency": "key"
      }
    },
    "/s/v1/system/modules/{key}": {
      "patch": {
        "operationId": "H_90",
        "summary": "ویرایش ماژول",
        "tags": [
          "نقش‌ها، ماژول‌ها و سطح دسترسی"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ModuleKey"
            }
          },
          {
            "name": "X-Step-Up-Token",
            "in": "header",
            "required": true,
            "description": "توکن step-up (۵ دقیقه) از L-07",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateModuleBody"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "stepUp": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/ModuleInfo"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
[...]
