{
  "openapi": "3.1.0",
  "info": {
    "title": "اسراء — api-high (نقش‌ها، مجوزها، تنظیمات سراسری، audit)",
    "version": "1.6.0",
    "summary": "قرارداد api-high — نسخهٔ مسیر v1",
    "description": "قرارداد REST سرویس **api-high** (پیشوند `/s/v1`). تولیدشده از schemaهای zod در `@isra/api-types`؛ **دستی ویرایش نکنید**.\n\n- قالب پاسخ: `{ success, data, meta.requestId }`؛ خطا: `{ success:false, error:{code,message,details}, meta }`. `message` فارسی، `code` پایدار.\n- زمان‌ها ISO-8601 با offset؛ منطق کسب‌وکار `Asia/Tehran`؛ هفته شنبه–جمعه.\n- امنیت: JWT RS256 (TTL access/refresh از پیکربندی سرور؛ پیش‌فرض ۱۵ دقیقه / ۱۴ روز)، refresh با rotation؛ اقدام حساس ⇒ `X-Step-Up-Token`.\n- محدودیت‌ها: بدنهٔ JSON حداکثر ۱۶KB؛ `pageSize` ≤ سقف هر endpoint؛ بدنه‌های `strict` (فیلد ناشناخته ⇒ `VALIDATION_FAILED`).\n- نسخه‌بندی: تغییر ناسازگار فقط با نسخهٔ جدید مسیر (`v2`)؛ سیاست deprecation: هدرهای `Deprecation` و `Sunset` (حداقل ۱۸۰ روز).",
    "license": {
      "name": "Proprietary",
      "identifier": "LicenseRef-Isra-Proprietary"
    },
    "x-isra-api-version": "v1",
    "x-isra-max-body-bytes": 16384
  },
  "servers": [
    {
      "url": "https://sapi.israapp.ir",
      "description": "تولید"
    },
    {
      "url": "http://localhost:3003",
      "description": "توسعهٔ محلی (بدون Docker)"
    }
  ],
  "tags": [
    {
      "name": "اصلاح و نظارت جلسه"
    },
    {
      "name": "امتیاز و نشان"
    },
    {
      "name": "تنظیمات سراسری"
    },
    {
      "name": "جلسه‌ها"
    },
    {
      "name": "حساب من"
    },
    {
      "name": "خروجی داده"
    },
    {
      "name": "زیرساخت"
    },
    {
      "name": "نقش‌ها و مجوزها"
    },
    {
      "name": "نقش‌ها، ماژول‌ها و سطح دسترسی"
    },
    {
      "name": "هویت سیستمی"
    },
    {
      "name": "پیام همگانی"
    },
    {
      "name": "کاربران"
    },
    {
      "name": "گزارش‌ها (audit)"
    },
    {
      "name": "گزارش‌های تحلیلی"
    }
  ],
  "paths": {
    "/s/health/live": {
      "get": {
        "operationId": "H_OPS_01",
        "summary": "liveness: پروسه زنده است",
        "tags": [
          "زیرساخت"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "H-OPS-01",
        "x-isra-since": "1.0.0",
        "x-isra-slo-p95-ms": 20,
        "x-isra-internal": true
      }
    },
    "/s/health/ready": {
      "get": {
        "operationId": "H_OPS_02",
        "summary": "readiness: DB و وابستگی‌ها آماده‌اند (برای ترافیک)",
        "tags": [
          "زیرساخت"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "H-OPS-02",
        "x-isra-since": "1.0.0",
        "x-isra-slo-p95-ms": 50,
        "x-isra-internal": true
      }
    },
    "/s/v1/system/announcements": {
      "post": {
        "operationId": "H_41",
        "summary": "ارسال پیام همگانی درون‌برنامه‌ای (اینباکس)",
        "tags": [
          "پیام همگانی"
        ],
        "description": "مخاطب: همه/کاربران مشخص/نقش سیستمی/اعضای یک جلسه. تحویل غیرهم‌زمان (outbox ⇒ low؛ دسته‌ای). فقط اینباکس (بدون پیامک/پوش — قفل). audit `announcement.send`.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "کلید تکرار امن (UUID)؛ همان کلید ⇒ همان نتیجه، بدون اثر مضاعف (۲۴ ساعت).",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 64
            }
          },
          {
            "name": "X-Step-Up-Token",
            "in": "header",
            "required": true,
            "description": "توکن step-up (۵ دقیقه) از L-07",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAnnouncementBody"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "stepUp": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Announcement"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN | AUTH_STEP_UP_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  },
                  "AUTH_STEP_UP_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_STEP_UP_REQUIRED",
                        "message": "برای این کار باید هویت خود را دوباره تأیید کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "NOT_FOUND": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "پیدا نشد."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "CONFLICT": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "CONFLICT",
                        "message": "درخواست با وضعیت فعلی منابع سازگار نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "PAYLOAD_TOO_LARGE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "PAYLOAD_TOO_LARGE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "PAYLOAD_TOO_LARGE",
                        "message": "حجم درخواست بیش از حد مجاز است."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "RATE_LIMITED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "RATE_LIMITED",
                        "message": "تعداد درخواست‌ها زیاد است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "H-41",
        "x-isra-since": "1.6.0",
        "x-isra-slo-p95-ms": 300,
        "x-isra-permission": "system.inbox.send",
        "x-isra-step-up": true,
        "x-isra-rate-limit": [
          "10 درخواست / 3600ث per user"
        ],
        "x-isra-idempotency": "key"
      },
      "get": {
        "operationId": "H_42",
        "summary": "تاریخچهٔ پیام‌های همگانی",
        "tags": [
          "پیام همگانی"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "default": 20,
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Announcement"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "H-42",
        "x-isra-since": "1.6.0",
        "x-isra-slo-p95-ms": 150,
        "x-isra-permission": "system.inbox.send"
      }
    },
    "/s/v1/system/announcements/{id}": {
      "get": {
        "operationId": "H_46",
        "summary": "جزئیات و آمار تحویل/خواندن یک پیام همگانی",
        "tags": [
          "پیام همگانی"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$",
              "description": "شناسهٔ موجودیت (در تولید UUID)",
              "example": "6f3c2a10-0000-4000-8000-000000000001"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Announcement"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "NOT_FOUND": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "پیدا نشد."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "H-46",
        "x-isra-since": "1.6.0",
        "x-isra-slo-p95-ms": 250,
        "x-isra-permission": "system.inbox.send"
      }
    },
    "/s/v1/system/audit": {
      "get": {
        "operationId": "H_40",
        "summary": "گزارش اقدام‌ها (audit؛ فقط‌خواندنی)",
        "tags": [
          "گزارش‌ها (audit)"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "default": 20,
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "schema": {
              "description": "نوع دقیق اقدام یا پیشوند (مثلاً `user.`)",
              "type": "string",
              "maxLength": 64
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 60
            }
          },
          {
            "name": "actorId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$",
              "description": "شناسهٔ موجودیت (در تولید UUID)",
              "example": "6f3c2a10-0000-4000-8000-000000000001"
            }
          },
          {
            "name": "targetType",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AuditTargetType"
            }
          },
          {
            "name": "targetId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$",
              "description": "شناسهٔ موجودیت (در تولید UUID)",
              "example": "6f3c2a10-0000-4000-8000-000000000001"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "example": "2026-10-05"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "example": "2026-10-05"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AuditEntry"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "RATE_LIMITED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "RATE_LIMITED",
                        "message": "تعداد درخواست‌ها زیاد است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "H-40",
        "x-isra-since": "1.0.0",
        "x-isra-slo-p95-ms": 200,
        "x-isra-permission": "system.audit.view",
        "x-isra-rate-limit": [
          "60 درخواست / 60ث per user"
        ]
      }
    },
    "/s/v1/system/audit/export": {
      "get": {
        "operationId": "H_45",
        "summary": "خروجی CSV گزارش اقدام‌ها (با فیلترهای H-40)",
        "tags": [
          "خروجی داده"
        ],
        "description": "نیازمند system.audit.view هم. حداکثر ۱۰۰٬۰۰۰ ردیف. audit `export.audit`.",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": false,
            "schema": {
              "description": "نوع دقیق اقدام یا پیشوند (مثلاً `user.`)",
              "type": "string",
              "maxLength": 64
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 60
            }
          },
          {
            "name": "actorId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$",
              "description": "شناسهٔ موجودیت (در تولید UUID)",
              "example": "6f3c2a10-0000-4000-8000-000000000001"
            }
          },
          {
            "name": "targetType",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AuditTargetType"
            }
          },
          {
            "name": "targetId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$",
              "description": "شناسهٔ موجودیت (در تولید UUID)",
              "example": "6f3c2a10-0000-4000-8000-000000000001"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "example": "2026-10-05"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "example": "2026-10-05"
            }
          },
          {
            "name": "X-Step-Up-Token",
            "in": "header",
            "required": true,
            "description": "توکن step-up (۵ دقیقه) از L-07",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": [],
            "stepUp": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "text/csv; charset=utf-8": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN | AUTH_STEP_UP_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  },
                  "AUTH_STEP_UP_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_STEP_UP_REQUIRED",
                        "message": "برای این کار باید هویت خود را دوباره تأیید کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "RATE_LIMITED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "RATE_LIMITED",
                        "message": "تعداد درخواست‌ها زیاد است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "H-45",
        "x-isra-since": "1.6.0",
        "x-isra-slo-p95-ms": 3000,
        "x-isra-permission": "system.data.export",
        "x-isra-step-up": true,
        "x-isra-rate-limit": [
          "5 درخواست / 600ث per user"
        ]
      }
    },
    "/s/v1/system/badges": {
      "get": {
        "operationId": "H_32",
        "summary": "فهرست نشان‌ها (همه، شامل غیرفعال)",
        "tags": [
          "امتیاز و نشان"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "default": 20,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "private, max-age=10",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "برای If-None-Match ⇒ 304",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AdminBadge"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "304": {
            "description": "تغییری نکرده (If-None-Match)"
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "H-32",
        "x-isra-since": "1.6.0",
        "x-isra-slo-p95-ms": 100
      },
      "post": {
        "operationId": "H_33",
        "summary": "ساخت نشان",
        "tags": [
          "امتیاز و نشان"
        ],
        "description": "کلید تکراری ⇒ KEY_TAKEN؛ حداکثر ۵۰ نشان (LIMIT_REACHED). پس از تغییر، اعطا/پس‌گیری نشان برای همه بازمحاسبه می‌شود (پس‌زمینه). audit `badge.create`.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "کلید تکرار امن (UUID)؛ همان کلید ⇒ همان نتیجه، بدون اثر مضاعف (۲۴ ساعت).",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 64
            }
          },
          {
            "name": "X-Step-Up-Token",
            "in": "header",
            "required": true,
            "description": "توکن step-up (۵ دقیقه) از L-07",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBadgeBody"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "stepUp": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/AdminBadge"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN | AUTH_STEP_UP_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  },
                  "AUTH_STEP_UP_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_STEP_UP_REQUIRED",
                        "message": "برای این کار باید هویت خود را دوباره تأیید کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "CONFLICT": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "CONFLICT",
                        "message": "درخواست با وضعیت فعلی منابع سازگار نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "PAYLOAD_TOO_LARGE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "PAYLOAD_TOO_LARGE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "PAYLOAD_TOO_LARGE",
                        "message": "حجم درخواست بیش از حد مجاز است."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "RATE_LIMITED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "RATE_LIMITED",
                        "message": "تعداد درخواست‌ها زیاد است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "H-33",
        "x-isra-since": "1.6.0",
        "x-isra-slo-p95-ms": 250,
        "x-isra-permission": "system.badges.manage",
        "x-isra-step-up": true,
        "x-isra-rate-limit": [
          "30 درخواست / 60ث per user"
        ],
        "x-isra-idempotency": "key"
      }
    },
    "/s/v1/system/badges/{id}": {
      "patch": {
        "operationId": "H_34",
        "summary": "ویرایش نشان (عنوان، آستانه، فعال/غیرفعال، ترتیب)",
        "tags": [
          "امتیاز و نشان"
        ],
        "description": "تغییر آستانه/فعال‌بودن ⇒ بازمحاسبهٔ دارندگان (اعطا یا پس‌گیری). audit `badge.update`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$",
              "description": "شناسهٔ موجودیت (در تولید UUID)",
              "example": "6f3c2a10-0000-4000-8000-000000000001"
            }
          },
          {
            "name": "X-Step-Up-Token",
            "in": "header",
            "required": true,
            "description": "توکن step-up (۵ دقیقه) از L-07",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBadgeBody"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "stepUp": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/AdminBadge"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN | AUTH_STEP_UP_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  },
                  "AUTH_STEP_UP_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_STEP_UP_REQUIRED",
                        "message": "برای این کار باید هویت خود را دوباره تأیید کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "NOT_FOUND": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "پیدا نشد."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "PAYLOAD_TOO_LARGE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "PAYLOAD_TOO_LARGE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "PAYLOAD_TOO_LARGE",
                        "message": "حجم درخواست بیش از حد مجاز است."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "RATE_LIMITED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "RATE_LIMITED",
                        "message": "تعداد درخواست‌ها زیاد است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "H-34",
        "x-isra-since": "1.6.0",
        "x-isra-slo-p95-ms": 250,
        "x-isra-permission": "system.badges.manage",
        "x-isra-step-up": true,
        "x-isra-rate-limit": [
          "30 درخواست / 60ث per user"
        ],
        "x-isra-idempotency": "natural"
      },
      "delete": {
        "operationId": "H_35",
        "summary": "حذف نشان (از همهٔ دارندگان پس گرفته می‌شود)",
        "tags": [
          "امتیاز و نشان"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$",
              "description": "شناسهٔ موجودیت (در تولید UUID)",
              "example": "6f3c2a10-0000-4000-8000-000000000001"
            }
          },
          {
            "name": "X-Step-Up-Token",
            "in": "header",
            "required": true,
            "description": "توکن step-up (۵ دقیقه) از L-07",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": [],
            "stepUp": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/AdminBadge"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN | AUTH_STEP_UP_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  },
                  "AUTH_STEP_UP_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_STEP_UP_REQUIRED",
                        "message": "برای این کار باید هویت خود را دوباره تأیید کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "NOT_FOUND": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "پیدا نشد."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "RATE_LIMITED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "RATE_LIMITED",
                        "message": "تعداد درخواست‌ها زیاد است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "H-35",
        "x-isra-since": "1.6.0",
        "x-isra-slo-p95-ms": 250,
        "x-isra-permission": "system.badges.manage",
        "x-isra-step-up": true,
        "x-isra-rate-limit": [
          "30 درخواست / 60ث per user"
        ],
        "x-isra-idempotency": "natural"
      }
    },
    "/s/v1/system/badges/{id}/image": {
      "put": {
        "operationId": "H_36",
        "summary": "بارگذاری تصویر نشان (png/webp/jpeg ≤ ۲۰۰KB)",
        "tags": [
          "امتیاز و نشان"
        ],
        "description": "نوع واقعی با magic bytes بررسی؛ SVG ممنوع؛ ابعاد ≤ ۱۰۲۴px. hash تازه ⇒ آدرس جدید در L-34.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$",
              "description": "شناسهٔ موجودیت (در تولید UUID)",
              "example": "6f3c2a10-0000-4000-8000-000000000001"
            }
          },
          {
            "name": "X-Step-Up-Token",
            "in": "header",
            "required": true,
            "description": "توکن step-up (۵ دقیقه) از L-07",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BadgeImageBody"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "stepUp": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/AdminBadge"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN | AUTH_STEP_UP_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
[...]
