{
  "openapi": "3.1.0",
  "info": {
    "title": "اسراء — api-mid (جلسه، عضویت، حضور، صف، ارزیابی)",
    "version": "1.0.0",
    "summary": "قرارداد api-mid — نسخهٔ مسیر v1",
    "description": "قرارداد REST سرویس **api-mid** (پیشوند `/o/v1`). تولیدشده از schemaهای zod در `@isra/api-types`؛ **دستی ویرایش نکنید**.\n\n- قالب پاسخ: `{ success, data, meta.requestId }`؛ خطا: `{ success:false, error:{code,message,details}, meta }`. `message` فارسی، `code` پایدار.\n- زمان‌ها ISO-8601 با offset؛ منطق کسب‌وکار `Asia/Tehran`؛ هفته شنبه–جمعه.\n- امنیت: JWT RS256 (access ۱۵ دقیقه)، refresh ۱۴ روز با rotation؛ اقدام حساس ⇒ `X-Step-Up-Token`.\n- محدودیت‌ها: بدنهٔ JSON حداکثر ۱۶KB؛ `pageSize` ≤ سقف هر endpoint؛ بدنه‌های `strict` (فیلد ناشناخته ⇒ `VALIDATION_FAILED`).\n- نسخه‌بندی: تغییر ناسازگار فقط با نسخهٔ جدید مسیر (`v2`)؛ سیاست deprecation: هدرهای `Deprecation` و `Sunset` (حداقل ۱۸۰ روز).\n\n**Realtime (Socket.IO):** ببینید `x-isra-realtime`.",
    "license": {
      "name": "Proprietary",
      "identifier": "LicenseRef-Isra-Proprietary"
    },
    "x-isra-api-version": "v1",
    "x-isra-max-body-bytes": 16384
  },
  "servers": [
    {
      "url": "https://api.israapp.ir",
      "description": "تولید"
    },
    {
      "url": "http://localhost:3002",
      "description": "توسعهٔ محلی (بدون Docker)"
    }
  ],
  "tags": [
    {
      "name": "ارزیابی"
    },
    {
      "name": "جلسه"
    },
    {
      "name": "حضور"
    },
    {
      "name": "زیرساخت"
    },
    {
      "name": "صف نوبت"
    },
    {
      "name": "عضویت"
    },
    {
      "name": "کاربر"
    }
  ],
  "paths": {
    "/o/health/live": {
      "get": {
        "operationId": "M_OPS_01",
        "summary": "liveness: پروسه زنده است",
        "tags": [
          "زیرساخت"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "M-OPS-01",
        "x-isra-since": "1.0.0",
        "x-isra-slo-p95-ms": 20,
        "x-isra-internal": true
      }
    },
    "/o/health/ready": {
      "get": {
        "operationId": "M_OPS_02",
        "summary": "readiness: DB و وابستگی‌ها آماده‌اند (برای ترافیک)",
        "tags": [
          "زیرساخت"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس در حال نگهداری است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "M-OPS-02",
        "x-isra-since": "1.0.0",
        "x-isra-slo-p95-ms": 50,
        "x-isra-internal": true
      }
    },
    "/o/v1/me": {
      "get": {
        "operationId": "M_00",
        "summary": "قابلیت‌های من در mid",
        "tags": [
          "کاربر"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/MidMe"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس در حال نگهداری است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "M-00",
        "x-isra-since": "1.0.0",
        "x-isra-slo-p95-ms": 50
      }
    },
    "/o/v1/me/points": {
      "get": {
        "operationId": "M_42",
        "summary": "خلاصهٔ امتیاز و نشان (برای UI mid)",
        "tags": [
          "کاربر"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "private, max-age=15",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/PointsSummary"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس در حال نگهداری است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "M-42",
        "x-isra-since": "1.0.0",
        "x-isra-slo-p95-ms": 80
      }
    },
    "/o/v1/me/sessions": {
      "get": {
        "operationId": "M_01",
        "summary": "جلسه‌های من (عضو یا کادر)",
        "tags": [
          "کاربر"
        ],
        "description": "`scope=staff`: فقط جلساتی که نقش غیر-student دارم (شامل draft).",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "default": 20,
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "default": "all",
              "type": "string",
              "enum": [
                "all",
                "staff"
              ]
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MySessionItem"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس در حال نگهداری است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "M-01",
        "x-isra-since": "1.0.0",
        "x-isra-slo-p95-ms": 120
      }
    },
    "/o/v1/sessions": {
      "post": {
        "operationId": "M_03",
        "summary": "ساخت جلسه (draft)",
        "tags": [
          "جلسه"
        ],
        "description": "سازنده خودکار session_manager می‌شود.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "کلید تکرار امن (UUID)؛ همان کلید ⇒ همان نتیجه، بدون اثر مضاعف (۲۴ ساعت).",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 64
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionInput"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/MidSession"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "PAYLOAD_TOO_LARGE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "PAYLOAD_TOO_LARGE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "PAYLOAD_TOO_LARGE",
                        "message": "حجم درخواست بیش از حد مجاز است."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "RATE_LIMITED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "RATE_LIMITED",
                        "message": "تعداد درخواست‌ها زیاد است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس در حال نگهداری است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "M-03",
        "x-isra-since": "1.0.0",
        "x-isra-slo-p95-ms": 200,
        "x-isra-permission": "session.create",
        "x-isra-rate-limit": [
          "10 درخواست / 60ث per user"
        ],
        "x-isra-idempotency": "key"
      }
    },
    "/o/v1/sessions/{id}": {
      "patch": {
        "operationId": "M_04",
        "summary": "ویرایش جلسه (فقط draft/scheduled)",
        "tags": [
          "جلسه"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$",
              "description": "شناسهٔ موجودیت (در تولید UUID)",
              "example": "6f3c2a10-0000-4000-8000-000000000001"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionInput"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/MidSession"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "NOT_FOUND": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "پیدا نشد."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "CONFLICT": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "CONFLICT",
                        "message": "درخواست با وضعیت فعلی منابع سازگار نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "PAYLOAD_TOO_LARGE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "PAYLOAD_TOO_LARGE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "PAYLOAD_TOO_LARGE",
                        "message": "حجم درخواست بیش از حد مجاز است."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "RATE_LIMITED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "RATE_LIMITED",
                        "message": "تعداد درخواست‌ها زیاد است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس در حال نگهداری است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "M-04",
        "x-isra-since": "1.0.0",
        "x-isra-slo-p95-ms": 150,
        "x-isra-permission": "session.edit",
        "x-isra-rate-limit": [
          "60 درخواست / 60ث per user"
        ],
        "x-isra-idempotency": "natural"
      }
    },
    "/o/v1/sessions/{id}/attendance": {
      "post": {
        "operationId": "M_20",
        "summary": "ثبت حضور (+۵ امتیاز فقط یک‌بار)",
        "tags": [
          "حضور"
        ],
        "description": "idempotent با یکتایی DB (sessionId,userId): دومین فراخوانی همان entry و pointsAwarded=0 برمی‌گرداند. فقط عضو تأییدشده و جلسهٔ started.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$",
              "description": "شناسهٔ موجودیت (در تولید UUID)",
              "example": "6f3c2a10-0000-4000-8000-000000000001"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/AttendanceResult"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "NOT_FOUND": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "پیدا نشد."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "CONFLICT": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "CONFLICT",
                        "message": "درخواست با وضعیت فعلی منابع سازگار نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "RATE_LIMITED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "RATE_LIMITED",
                        "message": "تعداد درخواست‌ها زیاد است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس در حال نگهداری است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "M-20",
        "x-isra-since": "1.0.0",
        "x-isra-slo-p95-ms": 150,
        "x-isra-rate-limit": [
          "10 درخواست / 60ث per user"
        ],
        "x-isra-idempotency": "natural"
      },
      "get": {
        "operationId": "M_21",
        "summary": "حاضرین جلسه",
        "tags": [
          "حضور"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$",
              "description": "شناسهٔ موجودیت (در تولید UUID)",
              "example": "6f3c2a10-0000-4000-8000-000000000001"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/AttendanceList"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس در حال نگهداری است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "M-21",
        "x-isra-since": "1.0.0",
        "x-isra-slo-p95-ms": 120,
        "x-isra-permission": "attendance.view"
      }
    },
    "/o/v1/sessions/{id}/evaluations": {
      "post": {
        "operationId": "M_40",
        "summary": "ثبت ارزیابی",
        "tags": [
          "ارزیابی"
        ],
        "description": "**فقط `eval.submit`** (teacher/supporter؛ manager به‌تنهایی نه — قفل #15). یک ارزیابی per نوبت. وزن‌ها از high.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$",
              "description": "شناسهٔ موجودیت (در تولید UUID)",
              "example": "6f3c2a10-0000-4000-8000-000000000001"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "کلید تکرار امن (UUID)؛ همان کلید ⇒ همان نتیجه، بدون اثر مضاعف (۲۴ ساعت).",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 64
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvaluationBody"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Evaluation"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "NOT_FOUND": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "پیدا نشد."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "CONFLICT": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "CONFLICT",
                        "message": "درخواست با وضعیت فعلی منابع سازگار نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "PAYLOAD_TOO_LARGE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "PAYLOAD_TOO_LARGE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "PAYLOAD_TOO_LARGE",
                        "message": "حجم درخواست بیش از حد مجاز است."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "RATE_LIMITED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "RATE_LIMITED",
                        "message": "تعداد درخواست‌ها زیاد است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس در حال نگهداری است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "M-40",
        "x-isra-since": "1.0.0",
        "x-isra-slo-p95-ms": 200,
        "x-isra-permission": "eval.submit",
        "x-isra-rate-limit": [
          "60 درخواست / 60ث per user"
        ],
        "x-isra-idempotency": "key"
      },
      "get": {
        "operationId": "M_41",
        "summary": "ارزیابی‌ها (کادر: همه؛ دیگران: فقط خودم)",
        "tags": [
          "ارزیابی"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$",
              "description": "شناسهٔ موجودیت (در تولید UUID)",
              "example": "6f3c2a10-0000-4000-8000-000000000001"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "default": 20,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Evaluation"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "NOT_FOUND": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "پیدا نشد."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس در حال نگهداری است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "M-41",
        "x-isra-since": "1.0.0",
        "x-isra-slo-p95-ms": 120
      }
    },
    "/o/v1/sessions/{id}/me": {
      "get": {
        "operationId": "M_02",
        "summary": "عضویت، مجوزها و حضور من در یک جلسه",
        "tags": [
          "جلسه"
        ],
        "description": "draft فقط برای اعضا/مدیر دیده می‌شود (وگرنه NOT_FOUND).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$",
              "description": "شناسهٔ موجودیت (در تولید UUID)",
              "example": "6f3c2a10-0000-4000-8000-000000000001"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/SessionMe"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "NOT_FOUND": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "پیدا نشد."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس در حال نگهداری است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "M-02",
        "x-isra-since": "1.0.0",
        "x-isra-slo-p95-ms": 80
      }
    },
    "/o/v1/sessions/{id}/members": {
      "post": {
        "operationId": "M_10",
        "summary": "درخواست عضویت خودم",
        "tags": [
          "عضویت"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$",
              "description": "شناسهٔ موجودیت (در تولید UUID)",
              "example": "6f3c2a10-0000-4000-8000-000000000001"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Member"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "NOT_FOUND": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "پیدا نشد."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "CONFLICT": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "CONFLICT",
                        "message": "درخواست با وضعیت فعلی منابع سازگار نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "RATE_LIMITED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "RATE_LIMITED",
                        "message": "تعداد درخواست‌ها زیاد است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس در حال نگهداری است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "M-10",
        "x-isra-since": "1.0.0",
        "x-isra-slo-p95-ms": 120,
        "x-isra-rate-limit": [
          "20 درخواست / 60ث per user"
        ],
        "x-isra-idempotency": "natural"
      },
      "get": {
        "operationId": "M_11",
        "summary": "فهرست اعضا/درخواست‌ها",
        "tags": [
          "عضویت"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$",
              "description": "شناسهٔ موجودیت (در تولید UUID)",
              "example": "6f3c2a10-0000-4000-8000-000000000001"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "default": 20,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/MembershipStatus"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Member"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
[...]
