{
  "openapi": "3.1.0",
  "info": {
    "title": "اسراء — api-mid (جلسه، عضویت، پشتیبان، حضور، صف، ارزیابی، گالری، کامنت)",
    "version": "1.7.0",
    "summary": "قرارداد api-mid — نسخهٔ مسیر v1",
    "description": "قرارداد REST سرویس **api-mid** (پیشوند `/o/v1`). تولیدشده از schemaهای zod در `@isra/api-types`؛ **دستی ویرایش نکنید**.\n\n- قالب پاسخ: `{ success, data, meta.requestId }`؛ خطا: `{ success:false, error:{code,message,details}, meta }`. `message` فارسی، `code` پایدار.\n- زمان‌ها ISO-8601 با offset؛ منطق کسب‌وکار `Asia/Tehran`؛ هفته شنبه–جمعه.\n- امنیت: JWT RS256 (TTL access/refresh از پیکربندی سرور؛ پیش‌فرض ۱۵ دقیقه / ۱۴ روز)، refresh با rotation؛ اقدام حساس ⇒ `X-Step-Up-Token`.\n- محدودیت‌ها: بدنهٔ JSON حداکثر ۱۶KB (بارگذاری خام فایل: سقف per endpoint در `x-isra-max-body-bytes`)؛ `pageSize` ≤ سقف هر endpoint؛ بدنه‌های `strict` (فیلد ناشناخته ⇒ `VALIDATION_FAILED`).\n- نسخه‌بندی: تغییر ناسازگار فقط با نسخهٔ جدید مسیر (`v2`)؛ سیاست deprecation: هدرهای `Deprecation` و `Sunset` (حداقل ۱۸۰ روز).\n\n**Realtime (Socket.IO):** ببینید `x-isra-realtime`.",
    "license": {
      "name": "Proprietary",
      "identifier": "LicenseRef-Isra-Proprietary"
    },
    "x-isra-api-version": "v1",
    "x-isra-max-body-bytes": 16384
  },
  "servers": [
    {
      "url": "https://oapi.israapp.ir",
      "description": "تولید"
    },
    {
      "url": "http://localhost:3002",
      "description": "توسعهٔ محلی (بدون Docker)"
    }
  ],
  "tags": [
    {
      "name": "ارزیابی"
    },
    {
      "name": "جلسه"
    },
    {
      "name": "حضور"
    },
    {
      "name": "دعوت"
    },
    {
      "name": "زیرساخت"
    },
    {
      "name": "صف نوبت"
    },
    {
      "name": "عضویت"
    },
    {
      "name": "عمومی (مهمان)"
    },
    {
      "name": "نوبت برگزاری"
    },
    {
      "name": "پشتیبان"
    },
    {
      "name": "کاربر"
    },
    {
      "name": "کامنت"
    },
    {
      "name": "گالری"
    }
  ],
  "paths": {
    "/o/health/live": {
      "get": {
        "operationId": "M_OPS_01",
        "summary": "liveness: پروسه زنده است",
        "tags": [
          "زیرساخت"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "M-OPS-01",
        "x-isra-since": "1.0.0",
        "x-isra-slo-p95-ms": 20,
        "x-isra-internal": true
      }
    },
    "/o/health/ready": {
      "get": {
        "operationId": "M_OPS_02",
        "summary": "readiness: DB و وابستگی‌ها آماده‌اند (برای ترافیک)",
        "tags": [
          "زیرساخت"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "M-OPS-02",
        "x-isra-since": "1.0.0",
        "x-isra-slo-p95-ms": 50,
        "x-isra-internal": true
      }
    },
    "/o/v1/evaluation-criteria": {
      "get": {
        "operationId": "M_45",
        "summary": "معیارهای فعال فعلی ارزیابی (برای فرم و پیش‌نمایش امتیاز)",
        "tags": [
          "ارزیابی"
        ],
        "description": "کش محلی mid از رویداد `evaluation.criteria.changed` (high). ارزیابی‌های ثبت‌شده snapshot خودشان را دارند.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "private, max-age=300",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "برای If-None-Match ⇒ 304",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/ActiveCriteria"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "304": {
            "description": "تغییری نکرده (If-None-Match)"
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "M-45",
        "x-isra-since": "1.7.0",
        "x-isra-slo-p95-ms": 30
      }
    },
    "/o/v1/invites/accept": {
      "post": {
        "operationId": "M_53",
        "summary": "پذیرش دعوت با کد",
        "tags": [
          "دعوت"
        ],
        "description": "مصرف اتمیک؛ منقضی/تمام‌شده ⇒ INVITE_EXPIRED/INVITE_EXHAUSTED؛ پر ⇒ SESSION_FULL؛ ended ⇒ SESSION_LOCKED. عضو موجود ⇒ همان عضویت (pending/rejected ⇒ approved). سقف durable per کاربر و IP.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptInviteBody"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Member"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "NOT_FOUND": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "پیدا نشد."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "CONFLICT": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "CONFLICT",
                        "message": "درخواست با وضعیت فعلی منابع سازگار نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "PAYLOAD_TOO_LARGE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "PAYLOAD_TOO_LARGE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "PAYLOAD_TOO_LARGE",
                        "message": "حجم درخواست بیش از حد مجاز است."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "RATE_LIMITED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "RATE_LIMITED",
                        "message": "تعداد درخواست‌ها زیاد است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "M-53",
        "x-isra-since": "1.6.0",
        "x-isra-slo-p95-ms": 150,
        "x-isra-rate-limit": [
          "10 درخواست / 60ث per user",
          "30 درخواست / 60ث per ip"
        ],
        "x-isra-idempotency": "natural"
      }
    },
    "/o/v1/me": {
      "get": {
        "operationId": "M_00",
        "summary": "قابلیت‌های من در mid",
        "tags": [
          "کاربر"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/MidMe"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "M-00",
        "x-isra-since": "1.0.0",
        "x-isra-slo-p95-ms": 50
      }
    },
    "/o/v1/me/points": {
      "get": {
        "operationId": "M_42",
        "summary": "خلاصهٔ امتیاز و نشان (برای UI mid)",
        "tags": [
          "کاربر"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "private, max-age=15",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/PointsSummary"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "M-42",
        "x-isra-since": "1.0.0",
        "x-isra-slo-p95-ms": 80
      }
    },
    "/o/v1/me/points/history": {
      "get": {
        "operationId": "M_46",
        "summary": "تاریخچهٔ امتیاز من (دفتر)",
        "tags": [
          "کاربر"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "default": 20,
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "private, max-age=15",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PointsLedgerItem"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "M-46",
        "x-isra-since": "1.6.0",
        "x-isra-slo-p95-ms": 100
      }
    },
    "/o/v1/me/sessions": {
      "get": {
        "operationId": "M_01",
        "summary": "جلسه‌های من (عضو یا کادر)",
        "tags": [
          "کاربر"
        ],
        "description": "`scope=staff`: فقط جلساتی که صاحب یا پشتیبانم (شامل draft). `role` فیلتر نقش من (owner/supporter/member).",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "default": 20,
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "default": "all",
              "description": "staff = جلسه‌هایی که صاحب یا پشتیبانم (شامل draft)",
              "type": "string",
              "enum": [
                "all",
                "staff"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "scheduled",
                "started",
                "ended"
              ]
            }
          },
          {
            "name": "role",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SessionRole"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MySessionItem"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "M-01",
        "x-isra-since": "1.0.0",
        "x-isra-slo-p95-ms": 120
      }
    },
    "/o/v1/me/supporters": {
      "get": {
        "operationId": "M_60",
        "summary": "پشتیبان‌های ثابت من (استاد)",
        "tags": [
          "پشتیبان"
        ],
        "description": "پشتیبان ثابت در همهٔ جلسه‌های حال و آیندهٔ من با همین مجوزها مؤثر است.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "default": 20,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TeacherSupporter"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "M-60",
        "x-isra-since": "1.7.0",
        "x-isra-slo-p95-ms": 100,
        "x-isra-permission": "supporter.manage_own"
      },
      "post": {
        "operationId": "M_61",
        "summary": "افزودن پشتیبان ثابت (با شناسه یا شماره + مجوزها)",
        "tags": [
          "پشتیبان"
        ],
        "description": "کاربر باید فعال باشد (CONFLICT(USER_NOT_ACTIVE))؛ ثبت‌نام‌نکرده ⇒ NOT_FOUND؛ خودم ⇒ CONFLICT(SELF_PROTECTED)؛ موجود ⇒ CONFLICT(ALREADY_SUPPORTER) (برای تغییر M-62). شماره از low resolve می‌شود با سقف durable per actor (مثل M-14) و هرگز لاگ نمی‌شود. حداکثر ۵۰ پشتیبان ثابت (LIMIT_REACHED). اعلان inbox به پشتیبان.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "کلید تکرار امن (UUID)؛ همان کلید ⇒ همان نتیجه، بدون اثر مضاعف (۲۴ ساعت).",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 64
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddSupporterBody"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/TeacherSupporter"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "NOT_FOUND": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "پیدا نشد."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "CONFLICT": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "CONFLICT",
                        "message": "درخواست با وضعیت فعلی منابع سازگار نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "PAYLOAD_TOO_LARGE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "PAYLOAD_TOO_LARGE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "PAYLOAD_TOO_LARGE",
                        "message": "حجم درخواست بیش از حد مجاز است."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "RATE_LIMITED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "RATE_LIMITED",
                        "message": "تعداد درخواست‌ها زیاد است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "M-61",
        "x-isra-since": "1.7.0",
        "x-isra-slo-p95-ms": 300,
        "x-isra-permission": "supporter.manage_own",
        "x-isra-rate-limit": [
          "20 درخواست / 60ث per user"
        ],
        "x-isra-idempotency": "key"
      }
    },
    "/o/v1/me/supporters/{userId}": {
      "patch": {
        "operationId": "M_62",
        "summary": "تغییر مجوزهای پشتیبان ثابت",
        "tags": [
          "پشتیبان"
        ],
        "description": "جایگزینی کامل مجوزها؛ رویداد `supporters.updated` در جلسه‌های من.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$",
              "description": "شناسهٔ موجودیت (در تولید UUID)",
              "example": "6f3c2a10-0000-4000-8000-000000000001"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupporterPermissionsBody"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/TeacherSupporter"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "NOT_FOUND": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "پیدا نشد."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "PAYLOAD_TOO_LARGE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "PAYLOAD_TOO_LARGE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "PAYLOAD_TOO_LARGE",
                        "message": "حجم درخواست بیش از حد مجاز است."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "RATE_LIMITED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "RATE_LIMITED",
                        "message": "تعداد درخواست‌ها زیاد است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "M-62",
        "x-isra-since": "1.7.0",
        "x-isra-slo-p95-ms": 150,
        "x-isra-permission": "supporter.manage_own",
        "x-isra-rate-limit": [
          "30 درخواست / 60ث per user"
        ],
        "x-isra-idempotency": "natural"
      },
      "delete": {
        "operationId": "M_63",
        "summary": "حذف پشتیبان ثابت",
        "tags": [
          "پشتیبان"
        ],
        "description": "ردیف‌های per جلسهٔ همان کاربر دست نمی‌خورند. idempotent.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$",
              "description": "شناسهٔ موجودیت (در تولید UUID)",
              "example": "6f3c2a10-0000-4000-8000-000000000001"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "no-store",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": false
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_REQUIRED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_REQUIRED",
                        "message": "برای ادامه وارد شوید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "NOT_FOUND": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "پیدا نشد."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "RATE_LIMITED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "RATE_LIMITED",
                        "message": "تعداد درخواست‌ها زیاد است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "SERVICE_UNAVAILABLE": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "سرویس موقتاً پاسخگو نیست. چند لحظه بعد دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "M-63",
        "x-isra-since": "1.7.0",
        "x-isra-slo-p95-ms": 120,
        "x-isra-permission": "supporter.manage_own",
        "x-isra-rate-limit": [
          "30 درخواست / 60ث per user"
        ],
        "x-isra-idempotency": "natural"
      }
    },
    "/o/v1/public/galleries/{galleryId}/items/{itemId}/content": {
      "get": {
        "operationId": "M_79",
        "summary": "محتوای آیتم گالری public (مهمان)",
        "tags": [
          "عمومی (مهمان)"
        ],
        "description": "فقط گالری visibility=public از جلسهٔ غیر draft (وگرنه NOT_FOUND). Content-Type = mime آیتم؛ `Range` ⇒ 206؛ `ETag` = sha256؛ `Cache-Control: public, max-age=86400`؛ `X-Content-Type-Options: nosniff`؛ `Content-Disposition: inline`.",
        "parameters": [
          {
            "name": "galleryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$",
              "description": "شناسهٔ موجودیت (در تولید UUID)",
              "example": "6f3c2a10-0000-4000-8000-000000000001"
            }
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$",
              "description": "شناسهٔ موجودیت (در تولید UUID)",
              "example": "6f3c2a10-0000-4000-8000-000000000001"
            }
          },
          {
            "name": "Range",
            "in": "header",
            "required": false,
            "description": "یک بازهٔ بایت (`bytes=start-end`) ⇒ 206 Partial Content",
            "schema": {
              "type": "string",
              "pattern": "^bytes=\\d*-\\d*$"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "public, max-age=86400",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "برای If-None-Match ⇒ 304",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "Accept-Ranges": {
                "description": "bytes",
                "schema": {
                  "type": "string",
                  "const": "bytes"
                }
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "206": {
            "description": "بخشی از محتوا (Range)",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Content-Range": {
                "description": "bytes start-end/total",
                "schema": {
                  "type": "string"
                }
              },
              "Accept-Ranges": {
                "schema": {
                  "type": "string",
                  "const": "bytes"
                }
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "304": {
            "description": "تغییری نکرده (If-None-Match)"
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "NOT_FOUND": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "پیدا نشد."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "RATE_LIMITED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "RATE_LIMITED",
                        "message": "تعداد درخواست‌ها زیاد است. کمی بعد دوباره امتحان کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "مشکلی در سرور پیش آمد. دوباره تلاش کنید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-isra-id": "M-79",
        "x-isra-since": "1.7.0",
        "x-isra-slo-p95-ms": 100,
        "x-isra-permission": "gallery.view",
        "x-isra-range": true,
        "x-isra-rate-limit": [
          "300 درخواست / 60ث per ip"
        ]
      }
    },
    "/o/v1/public/sessions/{id}/galleries": {
      "get": {
        "operationId": "M_78",
        "summary": "گالری‌های public یک جلسه برای مهمان (با `occurrenceId` اختیاری)",
        "tags": [
          "عمومی (مهمان)"
        ],
        "description": "بدون توکن؛ نیازمند `gallery.view` در baseline مهمان (رویداد `tier.baseline.changed`؛ نبود ⇒ AUTH_FORBIDDEN). فقط گالری‌های visibility=public؛ جلسهٔ draft ⇒ NOT_FOUND؛ جلسهٔ unlisted فقط با همین شناسهٔ مستقیم. آیتم‌ها درون‌خطی (≤ ۱۰۰ per گالری)؛ محتوا از M-79.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$",
              "description": "شناسهٔ موجودیت (در تولید UUID)",
              "example": "6f3c2a10-0000-4000-8000-000000000001"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "default": 20,
              "type": "integer",
              "minimum": 1,
              "maximum": 20
            }
          },
          {
            "name": "occurrenceId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$",
              "description": "شناسهٔ موجودیت (در تولید UUID)",
              "example": "6f3c2a10-0000-4000-8000-000000000001"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "موفق",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Cache-Control": {
                "description": "public, max-age=60, stale-while-revalidate=120",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "برای If-None-Match ⇒ 304",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicGallery"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "304": {
            "description": "تغییری نکرده (If-None-Match)"
          },
          "400": {
            "description": "VALIDATION_FAILED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_FAILED",
                        "message": "اطلاعات واردشده معتبر نیست."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "AUTH_FORBIDDEN",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "AUTH_FORBIDDEN": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTH_FORBIDDEN",
                        "message": "برای این کار مجوز ندارید."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "NOT_FOUND": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "پیدا نشد."
                      },
                      "meta": {
                        "requestId": "8f14e45f-ceea-467a-9a36-3f1a2b4c5d6e"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Retry-After": {
                "description": "ثانیه تا تلاش بعدی",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
[...]
